/ModSimples/target/
/Prop1538/target/
/Paridade/target/
/Produto4/target/
/Potencia05/target/
/PotenciaSoma06/target/
/Propriedade302507/target/
/DivideSomas24/target/
/DivideSubt25/target/
/Produto04/target/
/Paridade02/target/
/ModSimples26/target/
/SomaNaturais03/target/
/DiaSemana01/target/
/Amigos22/nbproject/private/
/Logn19/target/